Django>=0.4.5
gunicorn
requests
invoke
pillow
psycopg2
celery>=5.0
tqdm>=4.0
django-environ
django-storages
django-recaptcha
easy-thumbnails
django-compressor
django-crispy-forms
django-allauth
django-cleanup
django-widget-tweaks
django-ckeditor
django-filter
django-autocomplete-light
djangorestframework
